<%= render "shared/header" %>

<%= form_with(url: search_dealers_path, local: true, method: :get) do |f| %>
  <%= f.text_field :name, value:params[:name] %>
  <%= f.collection_check_boxes(:category_id, Category.all, :id, :name, include_hidden: false) %>
  <%= f.submit "検索" %>
<% end %>



<ul>
  <% @buyers.each do |buyer| %>
    <li>
      <%= buyer.name %>
      <p>Category: <%= buyer.category.name %></p>
      <p>Website: <%= link_to buyer.url, buyer.url, target: "_blank" %></p>
      <div id="favorite-btn">
      <%= render partial: "favorite", locals: { buyer: buyer } %>
      </div>
    </li>
  <% end %>
</ul>
