<%= render "shared/header" %>

<h1 class="page-title">買取業者を検索</h1>

<%= form_with(url: search_dealers_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :name, value:params[:name], class: "search-input", placeholder:"例）BOOK-OFF みずほ" %>
  <div class="search-list">
    <div class="category-list">
      カテゴリー:
      <%= f.collection_check_boxes(:category_id, Category.all, :id, :name, include_hidden: false, checked:@category_ids ) %>
    </div>
    <div class="procedure-list">
      買取方法:
      <%= f.collection_check_boxes(:procedure_id, Procedure.all, :id, :name, include_hidden: false, checked:@procedure_ids ) %>
    </div>
  </div>
  <%= f.submit "検索", class: "search-button" %>
<% end %>


<ul class="buyer-list">
  <% @buyers.each do |buyer| %>
    <li class="buyer-item">
      <div class="buyer-details">
        <div>
          <%= link_to buyer.name, buyer.url, target: "_blank"  %>
        </div>
        <div class="buyer-category">
          カテゴリー:
            <% if buyer.category_id.is_a?(Array) %>
              <% buyer.category_id.each do |category_id| %>
                <%= Category.find(category_id).name %>
              <% end %>
            <% else %>
              <%= buyer.category.name %>
            <% end %>
        </div>
        <div class="buyer-procedure">
          買取方法:
            <% if buyer.procedure_id.is_a?(Array) %>
              <% buyer.procedure_id.each do |procedure_id| %>
                <%= Procedure.find(procedure_id).name %>
              <% end %>
            <% else %>
              <%= buyer.procedure.name %>
            <% end %>
        </div>
        <div>
          <%= link_to  buyer.url, target: "_blank",class:"button" do %>
            公式サイト
          <% end %>
        </div>
        <div class="buyer-actions">
          <%= render partial: "favorite", locals: { buyer: buyer } %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
