<%= render "shared/header" %>

<%= form_with(url: search_dealers_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :name, value:params[:name], class: "search-input" %>
  <div class="category-checkboxes">
    <%= f.collection_check_boxes(:category_id, Category.all, :id, :name, include_hidden: false) %>
  </div>
  <%= f.submit "検索", class: "search-button" %>
  
<% end %>



<ul class="buyer-list">
  <% @buyers.each do |buyer| %>
    <li class="buyer-item">
      <div class="buyer-details">
        <div>
          <%= buyer.name %>
          <span class="buyer-category">Category: <%= buyer.category.name %></span>
        </div>
        <div class="buyer-actions">
          <span class="buyer-website">Website: <%= link_to buyer.url, buyer.url, target: "_blank", class: "buyer-website" %></span><br>
        
          <%= render partial: "favorite", locals: { buyer: buyer } %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
