<%= render "shared/header" %>

<%= form_with(url: search_dealers_path, local: true, method: :get) do |f| %>
  <%= f.text_field placeholder: "買取業者を検索する" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  <%= f.submit "検索" %>
<% end %>

<ul>
  <% @buyers.each do |buyer| %>
    <li>
      <%= buyer.name %>
      <p>Category: <%= buyer.category.name %></p>
      <p>Website: <%= link_to buyer.url, buyer.url, target: "_blank" %></p>
      
    </li>
  <% end %>
</ul>
